// NOTE: Nuestros tipos de datos son los siguientes 7, estos
//tienen algunas variantes bastante peculiares.


$numero : 200px;//No importa si tiene unidades es reconocido como un número.
//hay que tener cuidado pues podriamos confundir con una cadena.

$cadena : sinComillas;//si no lleva comillas entonces tampoco deberia de ser más de una palabra,
//si lleva comillas es considerado como una cadena tal cual otro lenguaje.

$color : red;//COlores validos en css, pude pasarse otro tipo de formato como el HEX o RGBA.

$booleana : true;//o también expresiones que se puedan evaluar como verdadero o falso. 5<10

$nulo : null; //regresa el valor null.

$lista: Esta es, una lista, de tres elementos;//Podriamos saber también varias caracteristicas
//de nuestra de nuestra lista como longitud, y que valor tiene determinado elemento.

/*
1.-length
2.-nth($nombreLista, number) e.g.--> first-value:nth($lista, numero)
"nos devuelve un elemento de la lista en la posicion especificada".
*/


$mapa:(
primerValor: red,
segundoValor: black,
tercerValor: green,
cuartoValor: yellow,
quintoVAlor: white
);


/*
type-of($mapa);
Podemos obtener el valor especifico de uno de los elementos que se tienen en el mapa,
con la función map-get($mapa, elemento), que recibe mapa y elemento.
e.g
.fuente1{
color: map-get($mapa,primerValor);
}
map-get($networks-colors,twitter)
*/
